body {
    font-family: sans-serif;
    background-color: #cccccc;
}

h1{
    color: #ffffff;
}
h2{
    color:#304279;
}
h3{
    color: #ff5602;
}
h4 {
    color: #ff5602;
}

h1,
h2 {
    font-family: 'georgia', serif;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color:#304279;
    font-size: .75em;
}

.pane {
    border: 2px solid;
    padding: 10px;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    margin-left: 10%;
    border-color: #999999;
    background-color: whitesmoke
}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.flash {
    background: #f8b0a4;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav-link {
    padding: .5rem 1rem;
}
.column {
    float: left;
}
.column.side {
    width: 20%;
}
.column.middle {
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

