<html>

    <head>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}" />
    </head>

    <body>
        <div class='pane' style="margin-right: 25%; margin-left: 25%;">
            <div id='login_btn' class="row">
                <!-- GOOGLE SIGN IN-->

                <div id="gsigninBtn">
                        <h2>Log in to your Catalog App account</h2>
                        <div class="g-signin2" style="height: 34px; width: 157px; margin-bottom: 10px;margin-top: 20px;" data-onsuccess="onSignIn"></div>
                </div>

                <script>
                    function onSignIn(googleUser) {
                        var id_token = googleUser.getAuthResponse().id_token;
                        var user = googleUser.getBasicProfile().getName()
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/gconnect?state={{STATE}}');
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.onload = function() {
                            window.location.assign('http://localhost:5000/');
                        };
                        xhr.send('idtoken=' + id_token);
                    }
                    function onSignInFailure() {
                        console.log(xhr.responseText)
                    }
                </script>

                <!--END GOOGLE SIGN IN -->
            </div>
        </div>
    </body>

</html>
