<html>

    <head>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <meta name="google-signin-client_id" content="723871106796-hu59hrlhft84pq9p1k9h4ddhmn5h8mmi.apps.googleusercontent.com">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles1.css') }}" />
    </head>

    <body>
        <!-- GOOGLE SIGN IN-->

        <div id="gsigninBtn">
                <h2>Log in to your Catalog App account</h2>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <!-- <div id="g-login-btn" style="height: 34px; width: 157px; margin-bottom: 10px;margin-top: 20px;" class="g-signin2 row" data-onsuccess="onSignIn" data-onfailure="onSignInFailure" data-theme="dark"></div> -->
            <!-- <span class="g-signin2" data-scope="openid email profile"
                data-client_id="403421116395-lm9e1kc2jtlcg41lhsqpuvbprglg610a.apps.googleusercontent.com"
                data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin"
                data-onsuccess="onSignIn" data-onfailure="onSignInFailure" data-approvalprompt="force">
            </span> -->
        </div>

        <script>
            function onSignIn(googleUser) {
                // Hide the sign-in button now that the user is authorized
                // $('#gsigninBtn').attr('style', 'display: none');
                var id_token = googleUser.getAuthResponse().id_token;
                var user = googleUser.getBasicProfile().getName()
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/gconnect?state={{STATE}}');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    //window.history.back();
                    window.location.assign('http://localhost:5002/');
                    //console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
 
            }
            function onSignInFailure() {
                console.log(xhr.responseText)
            }

        </script>

        <!--END GOOGLE SIGN IN -->
    </body>

</html>
